@charset "UTF-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

@font-face{
	font-family: header;
	src: url("style/rocket_wildness/ROCKET WILDNESS.woff");
}
@font-face{
	font-family: paragraph;
	src: url("style/Kiona/fonts/Kiona-Regular.woff");
}
body{
	background-image: url("images/pinkclouds.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
		
}

.container{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 60%;
	margin: 10% auto 10% auto;
	
}

h1{
	font-family: header;
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding: 0;
}

h3, h2, p{
	font-family: paragraph;
	text-align: center;
}

legend{
	font-size: 20px;
}


button{
	font-family: paragraph;
	font-size: 20px;
	border: 1px solid rgba(255,190,187,1.00);
	background-color: transparent;
	margin-bottom: 5%;
	margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
}

button:hover{
	cursor: pointer;
	color: white;
	background-color: rgba(249,204,206,0.89);
}

.playContainer{
	margin: auto;
	display: flex;
	flex-direction: column;
}



#js-quiz-form{
	display: none;
	flex-direction: column;
	alight-content: center;
	
}


