@charset "UTF-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

}
body{
		
}

.container{
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 60%;
	margin: 10% auto 10% auto;
	
}

h1{
	font-family: header;
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding: 0;
}

h3, h2, p{
	font-family: paragraph;
	text-align: center;
}


button{
	font-family: paragraph;
	font-size: 20px;
 	background-color: transparent;
	margin-bottom: 5%;
	margin-top: 2%;
	margin-right: auto;
	margin-left: auto;
}

button:hover{
	cursor: pointer;
	color: white;
	background-color: rgba(249,204,206,0.89);
}

.playContainer{
	margin: auto;
	display: flex;
	flex-direction: column;
}

.js-answers{
	display: block;
	flex-direction: column;
	margin-left: 2px;
}

.js-questions{
	text-align: center;
}
